.App {
  text-align: center;
}

.add {
  font-size: 18px;
  background-color: transparent;
}
.add input{
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}
.add button{
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: green;
  border: none;
  outline: none;
}
.list button{
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: red;
  border: none;
  outline: none;
  margin:0 5px;
}
.list #edit{
  background-color: rgb(37, 8, 146);
}